            <tr>
              <td class="carac-label-td">
                <div class="carac-flex">
                  <i class="fas fa-dice-d20 roll-stat" data-stat="sagesse" title="Jet de Sagesse" style="color:#9b59b6;"></i>
                  <span class="carac-short">SAG</span>
                </div>
              </td>
              <td>
                <div class="carac-control-group">
                  <button type="button" class="carac-btn moins" data-carac="sagesse" tabindex="-1">−</button>
                  <div class="carac-value carac-drop-target" data-carac="sagesse"
                       title="Base : {{actor.system.sagesse_base}}&#10;Bonus racial : {{actor.system.bonus_caracteristiques.sagesse}}&#10;Total : {{add actor.system.sagesse_base actor.system.bonus_caracteristiques.sagesse}}">
                    <span style="font-size:1.45em;font-weight:700;line-height:1;">{{add actor.system.sagesse_base actor.system.bonus_caracteristiques.sagesse}}</span>
                    {{#if actor.system.bonus_caracteristiques.sagesse}}
                      <span class="carac-racial-bonus-inline">(race {{#if (gt actor.system.bonus_caracteristiques.sagesse 0)}}+{{/if}}{{actor.system.bonus_caracteristiques.sagesse}})</span>
                    {{/if}}
                  </div>
                  <button type="button" class="carac-btn plus" data-carac="sagesse" tabindex="-1">+</button>
                </div>
              </td>
              <td>
                <div class="carac-adjustments-line">
                  <div class="a2e-adjustment-item"><label>Bonus magie</label><input type="text" name="system.sag_bm_magie" value="{{actor.system.sag_bm_magie}}" readonly></div>
                  <div class="a2e-adjustment-item"><label>Sorts bonus</label><input type="text" name="system.sag_sort_suppl" value="{{actor.system.sag_sort_suppl}}" readonly></div>
                  <div class="a2e-adjustment-item"><label>% échec</label><input type="text" name="system.sag_echec" value="{{actor.system.sag_echec}}" readonly></div>
                </div>
              </td>
            </tr>
